# Bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.env
venv/

# Editor and OS junk
.vscode/
.idea/
.DS_Store

# Logs and temp
*.log
*.tmp

# Local database or config
nutrition.db
*.sqlite
*.sqlite3

# Dependency cache
*.egg-info/
build/
dist/

# my notes for learning along the way :]
dev_notes/